/* 
    Created on : Feb 11, 2016, 9:45:35 AM
    Author     : Chris
*/

#content-container {
    text-align: center;
}

#content-left, #content-right {
    display: inline-block;
    width: 40%;
    text-align: initial;
}

